@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #323437;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.current {
    position: relative;
    color: rgb(110 231 183);

    &::after {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: rgb(110 231 183);
        border-radius: 3px;
        animation: pulse infinite 1s;
        z-index: -1;
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
